<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>등록</title>
</head>
<body>
  <h3>등록</h3>
  <form action="/boards/add" method="post">
    <div><label for="">제목</label><input type="text" name="title"></div>
    <div><label for="">작성자</label><input type="text" name="author"></div>
    <div><label for="">내용</label><input type="text" name="content"></div>
    <div>
      <button type="submit">등록</button>
      <button type="button" id="btnAll">목록</button>
    </div>
  </form>
  <script>
    const btnAll = document.getElementById('btnAll');
    btnAll.addEventListener('click',e=>{
      location.href = '/boards';
    });
  </script>
</body>
</html>